.body{
    background-color: lightgray;
}
.body-head{
    background-color: white;
}
.layout{
    display: flex;
    background-color: white;
}
.grade{
    width: 33.33%;
    margin: 0 auto;
    text-align: center;
}
.ident{
    width: 33.33%;
    margin: 0 auto;
    text-align: center;
}
.xiala{
    width: 15px;
    height: 15px;
    margin-left: 11px;
}
.posion{
    width: 33.33%;
    margin: 0 auto;
    text-align: center;
}
.position_img{
    width: 15px;
    height: 25px;
    margin-right: 11px;
}
.search{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    margin-top: 5%;
}
.search_input{
    margin: 0 auto;
    width: 80%;
    height: 90px;
    text-align: center;
    border: 9px solid #71B4EE;
    border-radius: 90px;
}
.button_search{
    width: 90px;
    height: 90px;
    font-size: 50%;
    text-align: center;
}
.shaixuan_paixu{
    display: flex;
    width: 75%;
    margin: 0 auto;
    margin-top: 9px;
}
.shaixuan{
    width: 50%;
    color: #707070;
}
.paixu{
    width: 50%;
    text-align: end;
    color: #707070;
}
.h_student{
    width: 100%;
    margin-top: 9px;
    height: 90px;
}
.h{
    width: 80%;
    margin: 0 auto;
}
.h_text{
    color: #707070;
    line-height: 90px;
}
.body-footer{
    width: 100%;
    height: 160px;
    border: solid lightgray 2px;
    background-color: white;
    position: fixed;
    bottom: 0;
    display: flex;
}
.footer-div{
    width: 25%;
    height: 125px;
    display: block;
}
.footer_img{
    width: 80px;
    height: 80px;
    margin-left: 57px;
    margin-top: 25px;
}
.footer_text{
    text-align: center;
}
.banner_main{
    height: 270px;
    width: 90%;
    margin: 0 auto;
    margin-top: 7%;
    border-radius: 45px;
}
.baner_img{
    height: 270px;
    width: 100%;
}